body{
    font-family: 'Roboto Slab', serif;
    font-family: 'Bellota Text', cursive;
}
h1{
    font-size: 50px;
}
#w1{
    color: red;
    
}
.t25{
    font-size: 25px;
    font-weight: 700;
}
.t20{
    font-size: 20px;
}
#s1{
    color: orange;
    margin-left: 32%;
}
section{
    height: 500px;
    padding-bottom: 300px;
}
.half{
    width: 45%;
    float: left;
    margin-left: 3%;
    padding-left: 2%
    
}

.half img{
    width: 100%;
}

.link-button{
    color: white;
    font-weight: 700;
text-decoration: none;
background-image: linear-gradient(45deg, lightSalmon, tomato);
padding: 10px 20px;
border-radius: 10px;
margin-left: 40%;
}
footer p{
    text-align: center;
    font-size: 12px;
}